include README.md
include LICENSE
include pyproject.toml
recursive-include aethelum_core_lite *.py
recursive-include aethelum_core_lite *.proto
recursive-include aethelum_core_lite *.md
recursive-include aethelum_core_lite *.toml
recursive-include aethelum_core_lite *.txt
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude .git*
